<div class="container">
  <button class="decrement" (click)="values$.next(-1)">
    <i class="material-icons">
      remove
    </i>
  </button>
  <div>
    <div class="count">{{ state.count }}</div>
  </div>
  <button class="increment" (click)="values$.next(+1)">
    <i class="material-icons">
      add
    </i>

  </button>
</div>


<div class="random-container">
  <h1>Generate Random Number</h1>
  <button (click)="pushValue()">
    <i class="material-icons">
      add_shopping_cart
    </i>
  </button>
  <span>{{newState.numbers}}</span>
</div>


