.container {
  padding: 0 50%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  grid-column-gap: 10px;
  margin-top: 50px;

  .count {
    font-size: 50px;
  }
}

.random-container {
  span {
    font-size: 30px;
  }
}
